@using Virtual_Shopping.Models
@model AddSellerView
@{
    ViewData["Title"] = "AddSeller";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="main-panel">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous" />
	<div class="container">
		<div class="row">
			<div class="col-12">

				<div class="my-5">
					<h3>Satıcı Ekle</h3>
					<hr>
				</div>

				<form class="file-upload" method="post" asp-controller="Admin" asp-action="AddSeller" enctype="multipart/form-data">
					<div class="row mb-5 gx-5">

						<div class="col-xxl-8 mb-5 mb-xxl-0">
							<div class="bg-secondary-soft px-4 py-5 rounded">
								<div class="row g-3">

									<div class="col-md-6 mb-4">
										<label class="form-label">İsim</label>
										<input type="text" class="form-control" name="SellerName" id="SellerName">
									</div>

									<div class="col-md-6 mb-4">
										<label for="inputEmail4" class="form-label">Mail Adresi</label>
										<input type="email" class="form-control" name="SellerEmail" id="SellerEmail">
									</div>

									<div class="col-md-6 mb-4">
										<label for="exampleInputPassword2" class="form-label">Yeni Şifre</label>
										<input type="password" class="form-control" name="SellerPassword" id="SellerPassword">
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="gap-3 d-md-flex justify-content-md-end text-center">
						<button type="submit" class="btn btn-primary btn-lg">Satıcı Ekle</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- partial -->
</div>
