<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Shopping</title>
    <link href="~/Login_Form/style.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/Login/SellerLogin" method="post">
                <!-- Corrected action URL -->
                <h1>Sign in</h1>
                <br></br>
                <span>As an Seller</span>
                <input type="email" name="SellerEmail" placeholder="Email" required />
                <input type="password" name="SellerPassword" placeholder="Password" required />
                <a href="~/Error/Error404">Forgot your password?</a>
                <button type="submit">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">

                <div class="overlay-panel overlay-right">
                    <h1>Welcome Back Seller!</h1>
                    <p>Enter your seller account</p>
                    <a href="~/Login/Login">
                        <button class="ghost">Are you a customer?</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
    <script src="~/Login_Form/main.js"></script>
    <script src="~/Login_Form/main.js"></script>
    <script>
        // Kullanıcı giriş hatası olup olmadığını kontrol et
        window.onload = function () {
            var errorMessage = '@TempData["ErrorMessage"]'; // Controller'dan gelen hata mesajı
            if (errorMessage) {
                alert(errorMessage); // Hata mesajını göster
            }
        }
    </script>
</body>
</html>
